.heading-color{
    color: #548CFF;

}
.paragraph-color{

    color: #454545;

}
.main-btn{
    border-radius: 10px;
background: var(--secondary, #548CFF);

}


.herosection{
    margin-top: 59px;
}

.top-doctor{
    font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: 80px; /* 137.931% */
letter-spacing: 0.2px;
}
.herocontent{
    font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
margin: 32px 0;

}
.download{
    background: #EDF6FB;
    padding: 24px 0;
}
.Download-header{
    
    color: #454545;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin: 0;
    padding: 0;
}
.play {
    height: 63px;
    margin-right: 64px;
}

.app-store {
    height: 63px;
}
.services{
    margin-top: 112px;
}
.services-main-title{
    color: #909090;
text-align: center;
font-family: DM Sans;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.2px;
}